@charset "utf-8";

.btn-seethrough
{
	color: inherit !important;
	background-color: #FFF0;
	transition: all 1s;
}
.btn-seethrough:hover
{
	background-color: #FFF4;
}
/*
.s3-color-plus
{
	background-color: #FFF2;
}
.s3-color-minus
{
	background-color: #0004;
}
.s3-btn
{
	color:inherit;
	background-color:inherit;
	border: none;
	border-radius: 7px;
}
.s3-btn:hover
{
	background-color: #FFF2;
}
/*
/
/	Divs
/


.s3-fondo
{
	position: absolute;
	text-align: right;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	z-index:-1;
	opacity: 0.4;
}

.s3-footer
{
	z-index:4;
	height:1.5rem;
	width:100%;
	position:fixed;
	bottom:0px;
	transition: height 2s;
	padding-right: 1rem;
}
.s3-footer-hover:hover
{
	height: 3rem;
}
.s3-marco
{
	height:auto;
	width:100%;
}
.s3-input
{
	width:100%;
	vertical-align: middle;
	height:2.5rem;
	margin-bottom: 0.5rem;
}
.s3-input input, .s3-input select, .s3-input label
{
	vertical-align: middle;
	padding-bottom: calc(0.375rem + 1px);
	padding-top: calc(0.375rem + 1px);
	margin-bottom: 0;
	height:100%;
	border: solid 1px #444;
	border-radius: 7px;
}
.s3-input input, .s3-input select
{
	width: 60%;
	padding-left: 1rem;
	border-left: none;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
.s3-input label
{
	background-color: #FFF4;
	padding-top: 0.45rem;
	text-align: center;
	border-right: none;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	width: 40%;
}
.s3-input-text-area textarea
{
	border-radius: 7px;
	border-top: none;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	width: 100%;
}
.s3-input-text-area label
{
	vertical-align: middle;
	padding-bottom: calc(0.375rem + 1px);
	padding-top: calc(0.375rem + 1px);
	margin-bottom: 0;
	border: solid 1px #444;
	border-radius: 7px;
	background-color: #FFF4;
	padding-top: 0.45rem;
	text-align: center;
	border-radius: 7px;
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 100%;
}
.s3-input .file-btn 
{
	background-color: #FFF7;
	border-right: solid 1px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	border-left: none;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
.s3-input .file-name 
{
	background-color: #FFF4;
	text-align: center;
	border-radius: 0px;
}
.s3-hr
{
	width:90%;
	border:solid white 1px;
}
.video-container
{
	position: relative;
	width:100%;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video-container iframe
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.s3h-10, .s3h-20, .s3h-30, .s3h-40, .s3h-60, .s3h-70 .s3h-80, .s3h-100
{
	overflow-y: hidden;
}  
.s3h-10
{
	height: 10vh;
}
.s3h-20
{
	height: 20vh;
}
.s3h-30
{
	height: 30vh;
}
.s3h-40
{
	height: 40vh;
}
.s3h-60
{
	height: 60vh;
}
.s3h-70
{
	height: 70vh;
}
.s3h-80
{
	height: 80vh;
}
.s3h-100
{
	height: 100vh;
}
.s3-10, .s3-20, .s3-30, .s3-33, .s3-40, .s3-50, .s3-60, .s3-70, .s3-80, .s3-90, .s3-100
{
	padding: 1rem;
	padding-bottom: 0;
	display: inline-block;
	top:0;
}
.s3-10
{
	width:10%;
}
.s3-20
{
	width:20%;
}
.s3-30
{
	width:30%;
}
.s3-33
{
	width:33%;
}
.s3-40
{
	width:40%;
}
.s3-50
{
	width:50%;
}
.s3-60
{
	width:60%;
}
.s3-70
{
	width:70%;
}
.s3-80
{
	width:80%;
}
.s3-90
{
	width:90%;
}
.s3-100
{
	width:100%;
}
.s3-sidenav-left
{
	color:white;
	text-align:left;
	z-index:1;
	width:1vw;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	transition: all 0.5s;
	background: #333;
	overflow: hidden;
}
.s3-sidenav-left:hover
{
	width:20vw;
}
.s3-sidenav-left-contenido
{
	width:20vw;
	position:relative;
	right:0px;
	padding-right:0;
	display:none;
}
.s3-sidenav-left:hover .s3-sidenav-left-contenido
{
	display:block;
}
.s3-sidenav-left-contenido button
{
	width: 100%;
	color:white;
	background-color: inherit;
	border: none;
}
.s3-sidenav-left-contenido button:hover
{
	background-color: #444;
}
.s3-table
{
	width: 100%;
	text-align:center;
	border: solid 1px white;
}
.s3-table th, .s3-table tr
{
	border: solid 1px gray;
}
.s3-progress
{
	width:100%;
	height: 0.5rem;
	top:0;
	right:0;
	position:fixed;
	background: red; 
}
.s3-text-glow
{
	text-shadow: 1px 0 5px white, -1px 0 5px white;
}










@media (min-width: 1024px)
{

}
/* CSS Document */
/*
.container-fluid.main{
  position: relative; /* To make the navbar positions relative to this container 
  padding: 0;
}

.carousel .background{
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
}

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow 
  top: 200px; /* The distance between the div with the top of document 
  left: 0px; /* Make the div full width 
  right: 0px; /* Make the div full width 
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}


/*-----------------------------------------------------
.header-emergencia
{
	background: snow;
	color: black;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	width:100%;
}

.pillar
{
	position: relative;
	text-align: center;
	display: inline-block;
	height: 100%;
	width: 80%;
	margin: 0;
}
.pillar.ads
{
	width: 10%;
	background:green;
}

.mainframe
{
	height: 100%;
	display: inline-block;
	overflow-x: hidden;
	text-align: center;
	width:100%;
	background-color: pink;
	transition: all 0.5s;
}

.mainframe.hidden
{
	width: 0%;
}

table
{
	width: 100%;
}
th, tr 
{
	border: solid white 1px;
}

div, button
{
	vertical-align: middle;
	color: black;
	background-color: rgba(25,25,25,0);
	transition: 0.5s all 0s width;
	border: none;
}

button
{
	transition: 0.5s;
	background-color: inherit;
}
button:hover
{
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
}
button:disabled
{
	cursor: auto;
	background-color: #777;
	color: black;
}
div img
{
	height: 50%;
	width: auto;
}
th button
{
	border-bottom: solid white 0.5px;
	width: 100%;
}

.info-fondo
{
	position: absolute;
	text-align: right;
	padding-right: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 1rem;
	overflow-y: hidden;
	z-index: 2;
}
.info-fondo img
{
	z-index: 1;
	height: 90%;
}
.info-contenido
{
	position: relative;
	width: 100%;
	height: 60%;
	top: inherit;
	text-align: left;
	overflow: hidden;
	color: white;
	margin: auto;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	background-image: linear-gradient(to right, rgba(50,50,50,0.9), rgba(50,50,50,0.4));
}
.curso-box
{
	display: inline-block;
	margin: 2%;
	text-align: center;
	width: 46%;
	height: 30rem;
}
.calendario-box
{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 30%;
	height: 10rem;
	margin: 0.7rem;
}
.calendario-usuario-box
{
	position: relative;
	vertical-align: middle;
	text-align: justify;
	display: inline-block;
	width: 100%;
}
.carrusel
{
	min-height: 25rem;
}
.imagen-activa
{
	width:100%;
	overflow:hidden;
	animation-name: slide;
	animation-duration: 1s;
}
.imagen-desactiva
{
	width:100%;
	overflow:hidden;
	animation-name: imagen-out;
	animation-duration: 0.5s;
	height: 0;
}
.calendario-hidden
{
	text-align:justify;
	width:100%;
	overflow:hidden;
	height:0;
}
.calendario-show
{
	height:0;
	overflow:hidden;
	animation-name: slide;
	animation-duration: 5s;
	width:100%;
	height:auto;
	text-align:justify;
}

.inscripcion-box
{
	background-color: rgba(0,0,0,0);
	display: inline-block;
	margin: 1%;
	text-align: center;
	width: 31%;
	height: auto;
}
.progress-back
{
	height: 1.5rem;
	width: 100%;
	background-color: black;
	padding: 0.3rem;
}
.progress-front
{
	height: 100%;
	background-color: green;
	border-radius: 10px;
	border-right: solid white;
}
.modalContenido
{
	position: relative;
	z-index: 6;
	margin: 5%;
	margin-top: 10%;
	padding: 25px;
	text-align: center;
	width: 90%;
}
.modalTinte
{
	text-align: center;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	left: 0;
	top: 0;
	right: 0;
	overflow-y: scroll;
}
.marco
{
	width: 95%;
	margin-left: 3%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-right: 2%;
}
.ajax-centro
{
	text-align: center;
}
.ajax-justificado
{
	text-align: justify;
	margin-left: 20px;
}
.ajax-derecha
{
	text-align: right;
	margin-right: 20px;
}
.ajax-full
{
	display: block;
	padding: 2%;
	width: 100%;
}
.ajax-60
{
	vertical-align: top;
	display: inline-block;
	padding: 2%;
	width: 67%;
	height: inherit;
}
.ajax-30
{
	vertical-align: top;
	display: inline-block;
	padding: 2%;
	width: 33%;
	height: 100%;
}

@media (max-width: 710px)
{
	.pillar
	{
		width:100%;
	}
	.pillar.ads
	{
		display: none;
	}
	.nav-item button
	{
		width: 100%;
	}
	.modalContenido img
	{
		display:none;
	}
	.curso-box, .calendario-box
	{
		width: 90%;
	}
	.marco
	{
		/*overflow: scroll;
	}
	.logo
	{
		display: none;
	}
	.topnav button
	{
		height: 2rem;
		width: 100%;
		border-bottom: solid white 1px;
	}
	.topnav
	{
		width: 100%;
		height: auto;
	}
	.sidenav
	{
		padding-top: 10rem;
	}
	.sidenav:hover
	{
		padding-top: 10rem;
		overflow-y:scroll;
		width: 90%;
	}
	.ajax-60
	{
		width: 100%;
	}
	.ajax-30
	{
		text-align: center;
		width: 100%;
	}
	.input-wide
	{
		width: 100%;
		border-left: solid #555;
	}
	.input-label
	{
		border-right: solid #555;
		padding: 0rem;
		width: 100%;
	}
	.header
	{
		/*padding-top: 12rem;
	}
	.carrusel
	{
		margin: 0% 25%;
		width:50%;
	}
	.d_none
	{
		display:none;
	}
}