<template>
    <div class="container-fluid">
        <v-app id="inspire">
            <v-content>
                <v-container
                    fluid
                >
                  <v-alert
                    v-if="alert"
                    v-model="alert"
                    dismissible
                    :color="color_alert"
                    border="left"
                    elevation="2"
                    colored-border
                    type="info"
                  >
                    {{alert_title}}
                  </v-alert>
                  <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="type-tab" data-toggle="tab" href="#type" role="tab" aria-controls="type" aria-selected="true">Tipo de Evento</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="room-tab" data-toggle="tab" href="#room" role="tab" aria-controls="room" aria-selected="false">Salas</a>
                      </li>
                    </ul>
                  </div>
                  <div class="row tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mx-auto" id="type" role="tabpanel" aria-labelledby="type-tab">
                      <div class="container-fluid">
                        <div class="row my-2 mx-5">
                          <v-row>
                            <v-col
                              cols="12"
                              sm="12"
                              md="5"
                            >
                              <v-form
                                ref="form-event"
                                v-model="valid"
                              >

                                <input type="hidden" v-model="hidden_type">

                                <v-text-field
                                  v-model="name_event"
                                  :counter="50"
                                  :rules="nameRules"
                                  name="name-e"
                                  label="Tipo de evento"
                                  required
                                ></v-text-field>
                                <br>
                                <span>Color asociado:</span>
                                <v-color-picker
                                  v-model="color_event"
                                  name="color-e"
                                  label="Color"
                                  :rules="colorRules"
                                  input
                                  hide-inputs
                                  hide-canvas
                                  required
                                ></v-color-picker>
                                <br>
                                <v-btn
                                  :disabled="!valid"
                                  color="success"
                                  class="mr-4"
                                  @click="distEvent()"
                                >
                                  {{btn_name_event}} tipo de evento
                                </v-btn>
                              </v-form>
                            </v-col>                 
                            <v-col
                              cols="12"
                              sm="12"
                              md="5"
                              class="mx-12"
                            >
                              <v-card
                                class="mx-auto"
                                max-width="400"
                                tile
                              >
                                <v-list-item :key="id" v-for="(event,id) in events">
                                  <v-list-item-content>
                                    <v-list-item-title>{{event.type_name}} <v-icon :color="event.color_type">fiber_manual_record</v-icon></v-list-item-title>
                                    <v-list-item-subtitle>
                                      <button @click="modEvent(event)" class="btn btn-primary btn-sm mr-2">Modificar</button>
                                      <button @click="delEvent(event.id_tipo)" class="btn btn-danger btn-sm">Eliminar</button>
                                    </v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>
                              </v-card>
                            </v-col>
                          </v-row>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade mx-auto" id="room" role="tabpanel" aria-labelledby="room-tab">
                      <div class="container-fluid">
                        <div class="row my-2 mx-5">
                          <v-row>
                            <v-col
                              cols="12"
                              sm="12"
                              md="5"
                            >
                              <v-form
                                ref="form-room"
                                v-model="valid"                              
                              >
                                <v-text-field
                                  v-model="name_room"
                                  :counter="50"
                                  :rules="nameRules"
                                  name="name-s"
                                  label="Nombre de la sala"
                                  required
                                ></v-text-field>

                                <v-text-field
                                  v-model="dir_room"
                                  :counter="100"
                                  :rules="dirRules"
                                  name="name-s"
                                  label="Dirección de la sala"
                                  required
                                ></v-text-field>

                                 <v-text-field
                                  v-model="capacidad_room"
                                  type="number"
                                  label="Capacidad"
                                  :rules="numRules"
                                 ></v-text-field>

                                <input type="hidden" name="id-s" class="form-control">
                                <br>
                                <v-btn
                                  :disabled="!valid"
                                  color="success"
                                  class="mr-4"
                                  @click="distRoom()"
                                >
                                  {{btn_name_room}} sala
                                </v-btn>
                              </v-form>
                            </v-col>                 
                            <v-col
                              cols="12"
                              sm="12"
                              md="5"
                              class="mx-12"
                            >
                              <v-card
                                class="mx-auto"
                                max-width="400"
                                tile
                              >
                                <v-list-item :key="id" v-for="(room, id) in rooms">
                                  <v-list-item-content>
                                    <v-list-item-title>{{room.nombre}}</v-list-item-title>
                                    <v-list-item-subtitle>{{room.direccion}}</v-list-item-subtitle>
                                    <v-list-item-subtitle><span>Capacidad: </span>{{room.capacidad}} personas</v-list-item-subtitle>
                                    <v-list-item-subtitle>
                                      <button @click="modRoom(room)" class="btn btn-primary btn-sm mr-2">Modificar</button>
                                      <button @click="delRoom(room.id_sala)" class="btn btn-danger btn-sm">Eliminar</button>
                                    </v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>
                              </v-card>
                            </v-col>
                          </v-row>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>


<script>
  import axios from "axios";

  export default {
    data: () => ({
      valid: true,
      name_event: '',
      color_event: '',
      name_room: '',
      dir_room: '',
      capacidad_room: 0,
      alert_title: '',
      alert: false,
      color_alert: '',
      hidden_type: null,
      hidden_room: null,
      btn_name_event: 'Añadir nuevo',
      btn_name_room: 'Añadir nueva',
      events: [],
      rooms: [],
      nameRules: [
        v => !!v || 'Campo obligatorio',
        v => (v && v.length <= 50) || 'Este campo debe ser menor o igual a 30 caracteres',
      ],
      dirRules: [
        v => !!v || 'Campo obligatorio',
        v => (v && v.length <= 100) || 'Este campo debe ser menor o igual a 100 caracteres',
      ],
      colorRules: [
        v => !!v || 'Campo obligatorio',
      ],
      numRules: [
        v => !!v || 'Campo obligatorio',
        v => (v && v.length <= 100 && v.length > 0) || 'El número debe estar entre 0 y 100',
      ],
    }),
    methods: {
      async getData () {
        let req = await axios.get('/admin',{
          params: {
            'load': true,
          }
        })

        this.events = req.data.tipos
        this.rooms = req.data.salas
      },

      actualizar () {
        this.getData()
      },

      modEvent (event) {
        this.hidden_type = event.id_tipo
        this.name_event = event.type_name
        this.color_event = event.color_type
        this.btn_name_event = 'Modificar'
      },

      distEvent (){
        if(this.hidden_type != null){
          this.upEvent()
        }else{
          this.createEvent()
        }
      },

      distRoom (){
        if(this.hidden_room != null){
          this.upRoom()
        }else{
          this.createRoom()
        }
      },

      modRoom (room) {
        this.hidden_room = room.id_sala
        this.name_room = room.nombre
        this.dir_room = room.direccion
        this.capacidad_room = room.capacidad
        this.btn_name_room = 'Modificar'
      },

      createEvent () {
        axios.post('/admin',{
            'event': true,
            'name': this.name_event,
            'color': this.color_event,
        }).then(response => {
          if(response.data.cod.localeCompare('success') == 0){
            this.alert_title = response.data.message
            this.color_alert = 'success'
            this.alert = true
            this.actualizar()
          }else{
            this.alert_title = response.data.message
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al eliminar el tipo de evento'
          this.color_alert = 'error'
          this.alert = true
        })

        this.name_event = ''
        this.color_event = ''
      },

      upEvent () {

        axios.put('/admin/'+this.hidden_type,{
            'event': true,
            'id': this.hidden_type,
            'name': this.name_event,
            'color': this.color_event,
            _method: 'patch'
        }).then(response => {
          if(response.data.cod.localeCompare('success') == 0){
            this.alert_title = response.data.message
            this.color_alert = 'success'
            this.alert = true
            this.actualizar()
          }else{
            this.alert_title = response.data.message
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al actualizar el tipo de evento'
          this.color_alert = 'error'
          this.alert = true
        })

        this.btn_name_event = 'Añadir nuevo'
        this.hidden_type = null
        this.name_event = ''
        this.color_event = ''
      },

      delEvent (id_event) {
        axios.delete('/admin/'+id_event,{
          params: {
            'event': true,
            'id': id_event,
          }
        }).then(response => {
          if(response.data.cod.localeCompare('success') == 0){
            this.alert_title = response.data.message
            this.color_alert = 'success'
            this.alert = true
            this.actualizar()
          }else{
            this.alert_title = response.data.message
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al eliminar el tipo de evento'
          this.color_alert = 'error'
          this.alert = true
        })
      },

      createRoom (){
        axios.post('/admin',{
            'room': true,
            'name': this.name_room,
            'dir': this.dir_room,
            'capacidad': this.capacidad_room,
        }).then(response => {
          if(response.data.cod.localeCompare('success') == 0){
            this.alert_title = response.data.message
            this.color_alert = 'success'
            this.alert = true
            this.actualizar()
          }else{
            this.alert_title = response.data.message
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al añadir nueva sala'
          this.color_alert = 'error'
          this.alert = true
        })

        this.name_room = ''
        this.dir_room = ''
        this.capacidad_room = 0
      },

      upRoom () {
        axios.put('/admin/'+this.hidden_room,{
            'room': true,
            'id': this.hidden_room,
            'name': this.name_room,
            'dir': this.dir_room,
            'capacidad': this.capacidad_room,
            _method: 'patch'
        }).then(response => {
          if(response.data.cod.localeCompare('success') == 0){
            this.alert_title = response.data.message
            this.color_alert = 'success'
            this.alert = true
            this.actualizar()
          }else{
            this.alert_title = response.data.message
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al actualizar la sala'
          this.color_alert = 'error'
          this.alert = true
        })

        this.btn_name_room = 'Añadir nueva'
        this.hidden_room = null
        this.name_room = ''
        this.dir_room = ''
        this.capacidad_room = 0
      },

      delRoom (id_room) {
        axios.delete('/admin/'+id_room,{
          params: {
            'room': true,
            'id': id_room,
          }
        }).then(response => {
          if(response.data.cod.localeCompare('success') == 0){
            this.alert_title = response.data.message
            this.color_alert = 'success'
            this.alert = true
            this.actualizar()
          }else{
            this.alert_title = response.data.message
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al eliminar la sala'
          this.color_alert = 'error'
          this.alert = true
        })
      }
    },

    created (){
      this.getData()
    },

  }
 
</script>