  <template>
    <div>
        <v-app id="inspire">
            <v-content>
                <v-container
                    class="fill-height"
                    fluid
                >
                  <v-alert
                    v-if="alert"
                    v-model="alert"
                    dismissible
                    :color="color_alert"
                    border="left"
                    elevation="2"
                    colored-border
                    type="info"
                  >
                    {{alert_title}}
                  </v-alert>
                  <v-row
                  align="center"
                  justify="center"
                  >
                      <v-col
                          cols="12"
                          sm="8"
                          md="12"
                      >
                        <v-row class="fill-height">
                          <v-col>
                            <v-sheet height="64">
                              <v-toolbar flat color="white">
                                <v-btn outlined class="mr-4" @click="setToday">
                                  Hoy
                                </v-btn>
                                <v-btn fab text small @click="prev">
                                  <v-icon small>mdi-chevron-left</v-icon>
                                </v-btn>
                                <v-btn fab text small @click="next">
                                  <v-icon small>mdi-chevron-right</v-icon>
                                </v-btn>
                                <v-toolbar-title>{{ title }}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-menu bottom right>
                                  <template v-slot:activator="{ on }">
                                    <div>
                                      <v-btn
                                        outlined
                                        v-on="on"
                                      >
                                        <span>{{ typeToLabel[type] }}</span>
                                        <v-icon right>mdi-menu-down</v-icon>
                                      </v-btn>
                                    </div>
                                  </template>
                                  <v-list>
                                    <v-list-item @click="type = 'day'">
                                      <v-list-item-title>Día</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="type = 'week'">
                                      <v-list-item-title>Semana</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="type = 'month'">
                                      <v-list-item-title>Mes</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="type = '4day'">
                                      <v-list-item-title>4 días</v-list-item-title>
                                    </v-list-item>
                                  </v-list>
                                </v-menu>
                              </v-toolbar>
                            </v-sheet>
                            <v-sheet height="600">
                              <v-calendar
                                ref="calendar"
                                v-model="focus"
                                color="primary"
                                locale="es-ve"
                                :events="events"
                                :event-color="getEventColor"
                                :event-margin-bottom="3"
                                :now="today"
                                :type="type"
                                @click:event="showEvent"
                                @click:more="viewDay"
                                @click:date="viewDay"
                                @change="updateRange" 
                              ></v-calendar>
                              <v-menu
                                v-model="selectedOpen"
                                :close-on-content-click="false"
                                :activator="selectedElement"
                                offset-x
                              >
                                <v-card
                                  color="grey lighten-4"
                                  min-width="350px"
                                  flat
                                >
                                  <v-toolbar
                                    :color="selectedEvent.color"
                                    dark
                                  >
                                    <v-btn
                                      :href="'/reserva/' + selectedEvent.id + '/edit'"
                                      icon
                                    >
                                      <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      icon
                                      flat
                                      v-if="!selectedEvent.repetir"
                                      @click.native="dialog = false"
                                      @click="cerrarEventoModal(selectedEvent)"
                                    >
                                      <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>

                                  </v-toolbar>
                                  <v-card-text>
                                    <span v-html="'<b>Tipo de Evento:</b> ' + selectedEvent.event_type + '.'"></span>
                                    <br>
                                    <div v-if="selectedEvent.isTesis">
                                      <span v-html="'<b>Nombre del tesista:</b> ' + selectedEvent.tesista + '.'"></span>
                                      <br>
                                    </div>
                                    <span v-html="'<b>Descripción:</b><br>' + selectedEvent.details + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Horario:</b> ' + selectedEvent.horario_init + ' - ' + selectedEvent.horario_end"></span>
                                    <hr>
                                    <span v-html="'<b>Sala:</b> ' + selectedEvent.sala + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Ubicación:</b> ' + selectedEvent.ubicacion + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Capacidad de la sala:</b> ' + selectedEvent.capacidad_sala + ' personas.'"></span>
                                    <hr>
                                    <span v-html="'<b>Encargado:</b> ' + selectedEvent.encargado + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Teléfono:</b> ' + selectedEvent.telefono + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Correo:</b> ' + selectedEvent.email + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Usuario:</b> ' + selectedEvent.tipo_user + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Ubicación:</b> ' + selectedEvent.dir + '.'"></span>
                                  </v-card-text>
                                  <v-card-actions>
                                    <v-btn
                                      color="secondary"
                                      @click="selectedOpen = false"
                                    >
                                      Cerrar
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-menu>
                            </v-sheet>
                            <v-dialog v-model="cerrar_evento" max-width="400px">
                              <v-card>
                                <v-toolbar v-if="useToolbar" card dense>
                                  <v-toolbar-title v-text="'Evento: ' + this.titulo_evento_cancelar"></v-toolbar-title>
                                </v-toolbar>
                                <v-card-title v-else v-text="'Evento: ' + this.titulo_evento_cancelar"></v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                  <v-list-item>
                                    <v-list-item-content>
                                      <v-list-item-title>Confirme si quiere cancelar este evento</v-list-item-title>
                                    </v-list-item-content>
                                  </v-list-item>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                            
                                  <v-btn
                                    color="primary"
                                    flat
                                    @click.native="cerrar_evento = false"
                                  >
                                    Cerrar
                                  </v-btn>

                                  <v-btn
                                    color="error"
                                    class="btn btn-danger"
                                    @click="cancelarEvento(evento_cancelar_data)"
                                  >
                                    Cancelar evento
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-col>
                        </v-row>
                      </v-col>
                  </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
  import moment from 'moment'

  export default {
    data: () => ({
      evento_cancelar_data: {},
      titulo_evento_cancelar: '',
      useToolbar: false,
      alert_title: '',
      alert: false,
      color_alert: '',
      cerrar_evento: false,
      today: new Date().toISOString().substr(0, 10),
      focus: new Date().toISOString().substr(0, 10),
      type: 'month',
      typeToLabel: {
        month: 'Mes',
        week: 'Semana',
        day: 'Día',
        '4day': '4 días',
      },
      start: null,
      end: null,
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      rep_events: [],
      events: [],
    }),
    computed: {
      title () {
        const { start, end } = this
        if (!start || !end) {
          return ''
        }

        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? '' : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? '' : endYear

        const startDay = start.day + this.nth(start.day)
        const endDay = end.day + this.nth(end.day)

        switch (this.type) {
          case 'month':
            return `${startMonth} ${startYear}`
          case 'week':
          case '4day':
            return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
          case 'day':
            return `${startMonth} ${startDay} ${startYear}`
        }
        return ''
      },
      monthFormatter () {
        return this.$refs.calendar.getFormatter({
          timeZone: 'UTC', month: 'long',
        })
      },
    },
    mounted () {
      this.$refs.calendar.checkChange()
    },
    methods: {
      //---------------------------------Calendar frontend functions
      viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = this.today
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange ({ start, end }) {
        // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
        this.start = start
        this.end = end
      },
      nth (d) {
        return d > 3 && d < 21
          ? 'th'
          : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
      },



      //---------------------------Backend functions--------------------------

      cerrarEventoModal (evento) {
        this.cerrar_evento = true
        this.titulo_evento_cancelar = evento.name
        this.evento_cancelar_data = evento
      },

      cancelarEvento (reserva) {
        axios.delete('/reserva/'+reserva.id,{
          params: {
            'id': reserva.id
          }
        }).then(response => {
          if(response.data.localeCompare("OK") == 0){
            this.alert_title = 'Evento '+ reserva.name +' cancelado'
            this.color_alert = 'success'
            this.alert = true
            this.getReserva()
          }else{
            this.alert_title = 'Error al cancelar el evento '+ reserva.name
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al cancelar el evento '+ reserva.name
          this.color_alert = 'error'
          this.alert = true
        })

        reserva = {}
        this.titulo_evento_cancelar = ''
        this.evento_cancelar_data = {}
        this.cerrar_evento = false
        
      },


      async getReserva (){
          let req = await axios.get('/calendar')

          let data = req.data;
          let repetir_dia = false

          this.events = data.map( item => {
            repetir_dia = false
            
            if(item.dias){
              repetir_dia = true
            }

            if(item.tesista){
              item.isTesis = true
            }else{
              item.isTesis = false
            }

            return { 
              id: item.id_reserva,
              name: item.titulo,
              event_type: item.type_name,
              color: item.color_type,
              details: item.descripcion,
              fecha: item.fecha,
              fecha_fin: item.fecha_fin,
              start: item.fecha,
              end: item.fecha,
              hora_inicio: item.hora_inicio,
              hora_fin: item.hora_fin,
              sala: item.nombre,
              capacidad_sala: item.capacidad,
              ubicacion: item.direccion,
              encargado: item.name,
              telefono: item.phone,
              email: item.email,
              tipo_user: item.type,
              dir: item.dir,
              horario_init: this.timeFormat(item.hora_inicio),
              horario_end: this.timeFormat(item.hora_fin),
              dias: item.dias,
              repetir: repetir_dia,
              tesista: item.tesista,
              isTesis: item.isTesis,
            }
          })

          this.ordenar(this.repetirDates(this.events))
      },

      repetirDates (eventos) {
        let p_events = []
        let copy = []
        let save_dias_string = ''
        let dias_array = []
        let dia_init = new Date()
        let copy_dia_init = new Date()
        let dia_end = new Date()
        let tesis = false
        copy = eventos

        copy.forEach(element => {
          
          if(element.dias){
            save_dias_string = element.dias
            dias_array = element.dias.split(",")
            dia_init = new Date(element.fecha)
            copy_dia_init = dia_init
            dia_end = new Date(element.fecha_fin)
            
            dia_init.setDate(dia_init.getDate() + 1) //Dia actual

            while(dia_init <= dia_end){
              dia_init.setDate(dia_init.getDate() + 1) //Dia siguiente al actual
                
              for (let i = 0; i < dias_array.length; i++) {

                if(dia_init.getDay() == parseInt(dias_array[i])){

                  //Datos a guardar
                  element.fecha = dia_init.getFullYear() + '-' + dia_init.getMonth()+1 + '-' + dia_init.getDate()
                  element.end = element.fecha

                  //Guarda nuevos días

                  if(element.tesista){
                    tesis = true
                    element.isTesis = true
                  }else{
                    tesis = false
                    element.isTesis = false
                  }

                  p_events.push({ 
                    id: element.id,
                    name: element.name,
                    event_type: element.event_type,
                    color: element.color,
                    details: element.details,
                    fecha: element.fecha,
                    fecha_fin: element.fecha_fin,
                    start: element.fecha,
                    end: element.fecha,
                    hora_inicio: element.hora_inicio,
                    hora_fin: element.hora_fin,
                    sala: element.sala,
                    capacidad_sala: element.capacidad_sala,
                    ubicacion: element.ubicacion,
                    encargado: element.encargado,
                    telefono: element.telefono,
                    email: element.email,
                    tipo_user: element.tipo_user,
                    dir: element.dir,
                    horario_init: element.horario_init,
                    horario_end: element.horario_end,
                    dias: null,
                    repetir: true,
                    isTesis: tesis,
                    tesista: element.tesista,
                  })

                }
              }

            }
          } 

        })

        return p_events
      },

      ordenar (eventos) {

        eventos.forEach(evento => {
          this.events.push(evento)
        })

        this.events.forEach(element => {
          element.end = element.start
          element.start = element.start + ' ' + element.hora_inicio
          element.end = element.end + ' ' + element.hora_fin
        })
        
      },

      timeFormat: function(time) {
        return moment(time, 'HH:mm:ss').format('h:mm A');
      },

    },

    created (){
      this.getReserva()
    }
  }
</script>