<template>
  <v-app id="inspire">
    <v-footer
      color="primary"
       aling="center"
      class="text-center"
      app
    >
      <span class="white--text">&copy; Centro de Computación - Facultad de Ciencias - UCV 2019</span>
    </v-footer>
  </v-app>
</template>
