<template>
    <div>
        <v-app id="inspire">
            <v-content>
                <v-container
                    fluid
                >
                <v-alert
                    v-if="alert"
                    v-model="alert"
                    dismissible
                    :color="color_alert"
                    border="left"
                    elevation="2"
                    colored-border
                    type="info"
                  >
                    {{alert_title}}
                  </v-alert>
                    <v-flex mb-1 text-center class="title-date">
                        <h3 id="fecha" class="display-2 font-weight-bold">
                            {{date}}
                        </h3>
                    </v-flex>
                    <v-row
                    align="center"
                    justify="center"
                    >
                        <v-col
                            cols="12"
                            sm="8"
                            md="12"
                        >
                            <v-data-table
                              v.model="selected"
                              :headers="headers"
                              :items="reservas"
                              @click:row="handleClick"
                              class="elevation-1"
                              hide-default-footer
                              dark
                            >
                            </v-data-table>
                            <v-dialog v-model="dialog" scrollable max-width="400px">
                              <v-card>
                                <v-toolbar v-if="useToolbar" card dense>
                                  <v-toolbar-title v-text="this.reserva.titulo"></v-toolbar-title>
                                </v-toolbar>
                                <v-card-title v-else v-text="this.reserva.titulo"></v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                  <v-list-item>
                                  <v-list-item-content>
                                    <span v-html="'<b>Tipo de Evento:</b> ' + this.reserva.tipo_evento + '.'"></span>
                                    <br>
                                    <div v-if="this.reserva.isTesis">
                                      <span  v-html="'<b>Nombre del tesista:</b> ' + this.reserva.tesista + '.'"></span>
                                      <br>
                                    </div>
                                    <span v-html="'<b>Descripción:</b><br>' + this.reserva.descripcion + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Horario:</b> ' + this.reserva.hora_inicio + ' - ' + this.reserva.hora_fin"></span>
                                    <hr>
                                    <span v-html="'<b>Sala:</b> ' + this.reserva.nombre_sala + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Ubicación:</b> ' + this.reserva.ubicacion_sala + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Capacidad de la sala:</b> ' + this.reserva.capacidad_sala + ' personas.'"></span>
                                    <hr>
                                    <span v-html="'<b>Encargado:</b> ' + this.reserva.encargado + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Teléfono:</b> ' + this.reserva.phone + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Correo:</b> ' + this.reserva.email + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Usuario:</b> ' + this.reserva.tipo_user + '.'"></span>
                                    <br>
                                    <span v-html="'<b>Ubicación:</b> ' + this.reserva.ubicacion_user + '.'"></span>
                                    </v-list-item-content>
                                  </v-list-item>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                            
                                  <v-btn
                                    color="primary"
                                    flat
                                    @click.native="dialog = false"
                                    @click="reserva = {}"
                                  >
                                    Cerrar
                                  </v-btn>

                                  <v-btn
                                    color="error"
                                    class="btn btn-danger"
                                    flat
                                    v-if="!reserva.repetir"
                                    @click.native="dialog = false"
                                    @click="cerrar_evento = true"
                                  >
                                    Cancelar evento
                                  </v-btn>

                                  <v-btn
                                    color="success"
                                    class="btn btn-success"
                                    :href="'/reserva/' + this.reserva.id + '/edit'"
                                  >
                                    Editar
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                            <v-dialog v-model="cerrar_evento" max-width="400px">
                              <v-card>
                                <v-toolbar v-if="useToolbar" card dense>
                                  <v-toolbar-title v-text="'Evento: ' + this.reserva.titulo"></v-toolbar-title>
                                </v-toolbar>
                                <v-card-title v-else v-text="'Evento: ' + this.reserva.titulo"></v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                  <v-list-item>
                                    <v-list-item-content>
                                      <v-list-item-title>Confirme si quiere cancelar este evento</v-list-item-title>
                                    </v-list-item-content>
                                  </v-list-item>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                            
                                  <v-btn
                                    color="primary"
                                    flat
                                    @click.native="cerrar_evento = false"
                                    @click="reserva = {}"
                                  >
                                    Cerrar
                                  </v-btn>

                                  <v-btn
                                    color="error"
                                    class="btn btn-danger"
                                    @click="cancelarEvento()"
                                  >
                                    Cancelar evento
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>


<style>
  .title-date{
    padding: 3em;
  }

</style>


<script>
  import axios from "axios";
  import moment from 'moment'

  export default {
    data () {
      return {
        alert_title: '',
        alert: false,
        color_alert: '',
        date: new Date().toISOString().substr(0, 10),
        headers: [
          { text: 'Título', value: 'titulo', align: 'center', sortable: false },
          { text: 'Sala', value: 'nombre', align: 'center', sortable: false },
          { text: 'Descripción', value: 'descripcion', align: 'center', sortable: false },
          { text: 'Hora Inicio', value: 'hora_inicio', align: 'center', sortable: false },
          { text: 'Hora Fin', value: 'hora_fin', align: 'center', sortable: false },
        ],
        reservas: [],
        reserva: {},
        select: true,
        selected: [],
        id: null,
        title: '',
        absolute: true,
        cerrar_evento: false,
        opacity: 1,
        zIndex: 5,
        dialogm1: '',
        dialog: false,
        useToolbar: false,
      }
    },

    methods:{

      handleClick(value) {
        this.dialog = !this.dialog
        this.reserva = {
          'id': value.id_reserva,
          'titulo': value.titulo,
          'tipo_evento': value.type_name,
          'descripcion': value.descripcion,
          'hora_inicio': value.hora_inicio,
          'hora_fin': value.hora_fin,
          'nombre_sala': value.nombre,
          'capacidad_sala': value.capacidad,
          'ubicacion_sala': value.direccion,
          'encargado': value.name,
          'phone': value.phone,
          'email': value.email,
          'tipo_user': value.type,
          'ubicacion_user': value.dir,
          'repetir': value.repetir,
          'tesista': value.tesista,
          'isTesis': value.isTesis
        }
      },

      cancelarEvento () {
        axios.delete('/reserva/'+this.reserva.id,{
          params: {
            'id': this.reserva.id
          }
        }).then(response => {
          if(response.data.localeCompare('OK') == 0){
            this.alert_title = 'Evento '+ this.reserva.titulo +' cancelado'
            this.color_alert = 'success'
            this.alert = true
          }else{
            this.alert_title = 'Error al cancelar el evento '+ this.reserva.titulo
            this.color_alert = 'error'
            this.alert = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title = 'Error al cancelar el evento '+ this.reserva.titulo
          this.color_alert = 'error'
          this.alert = true
        })

        this.reserva = {}
        this.cerrar_evento = false
        this.getReserva()
      },

      formtTimeUpdate (){
        this.reservas.forEach(element => {
          element.hora_inicio = this.timeFormat(element.hora_inicio)
          element.hora_fin = this.timeFormat(element.hora_fin)          
        })
      },


      //Filtro de verificación de reservas en el día
      verificarFechas (datos) {
        let day_number = 0
        let fecha_format = new Date()
        let array_dias = []

        datos.forEach(reserva => {
          if(reserva.tesista){
            reserva.isTesis = true
          }else{
            reserva.isTesis = false
          }

          if(reserva.dias){
            day_number = fecha_format.getDay()
            array_dias = reserva.dias.split(',')
            reserva.repetir = true
            for (let i = 0; i < array_dias.length; i++) {             
              if(array_dias[i] == day_number){
                this.reservas.push(reserva)
              }
            }
          }else{
            this.reservas.push(reserva)
          }
        })
      },


      //Obtiene datos de BD
      async getReserva (){
          let req = await axios.get('/reserva',{
            params:{
              'fecha': this.date,
            }
          })

          this.verificarFechas(req.data)

          this.formtTimeUpdate()

      },

      dateFormat: function(date) {
        return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
      },

      timeFormat: function(time) {
        return moment(time, 'HH:mm:ss').format('h:mm A');
      }
    },

    created (){
      this.getReserva()
      this.date = this.dateFormat(this.date)
    }
  }
</script>