<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Iniciar Sesión</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form id="formu" method="POST" action="/login">

                  <slot>
                  </slot> 

                  <v-text-field
                    label="Correo electrónico"
                    name="email"
                    :rules="emailRules"
                    v-model="user"
                    prepend-icon="email"
                    type="email"
                  />

                  <v-text-field
                    id="password"
                    v-model="pass"
                    :rules="passRules"
                    label="Contaseña"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn type="submit" form="formu" color="primary">Ingresar</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

  export default {

    data() {
      return{
        user: '',
        pass: '',
        emailRules: [
          v => !!v || 'Campo obligatorio',
          v => /.+@.+\..+/.test(v) || 'Correo no válido',
        ],
        passRules: [
          v => !!v || 'Campo obligatorio',
          v => (v && v.length >= 8) || 'Este campo de tener al menos 8 caracteres',
        ],
      }
    },

    props: {
      source: String,
    },
  }
</script>