<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title mt-2">
            <v-icon>calendar_today</v-icon> Siresa
          </v-list-item-title>
          <hr>
          <v-list-item-subtitle class="mt-3">
            Centro de Computación
          </v-list-item-subtitle>
          <v-list-item-subtitle v-html="'<b>Usuario: </b>' + this.user">
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list dense>
        <v-list-item link>
            <v-list-item-action>
              <v-icon>home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <a href="/"><v-list-item-title>Hoy</v-list-item-title></a>
            </v-list-item-content>
        </v-list-item>
        <v-list-item link>
             <v-list-item-action>
              <v-icon>calendar_today</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <a href="/calendario"><v-list-item-title>Calendario</v-list-item-title></a>
            </v-list-item-content>
        </v-list-item>
        <v-list-item link>
            <v-list-item-action>
              <v-icon>search</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <a href="/buscar"><v-list-item-title>Buscar evento</v-list-item-title></a>
            </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>add</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <a href="/reserva/create"><v-list-item-title>Nuevo evento</v-list-item-title></a>
          </v-list-item-content>
        </v-list-item>
        <hr>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>person</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <a href="/admin"><v-list-item-title>Administración</v-list-item-title></a>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>person_add</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <a href="/register"><v-list-item-title>Registrar administrador</v-list-item-title></a>
          </v-list-item-content>
        </v-list-item>
        <hr>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>power_off</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="text-danger" @click="overlay = !overlay">Cerrar Sesión</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" ><v-icon>menu</v-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Siresa</v-toolbar-title>
    </v-app-bar>
      <slot name="main"></slot>
    <v-footer
      color="primary"
       aling="center"
      class="text-center"
      app
    >
      <span class="white--text">&copy; Centro de Computación - Facultad de Ciencias - UCV 2019</span>
    </v-footer>

    <v-overlay
      :absolute="absolute"
      :opacity="opacity"
      :value="overlay"
      :z-index="zIndex"
    >

      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="headline mb-1 text-center">¿Está seguro?</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <form id="logout-form" action="/logout" method="POST" style="display: none;">
          <slot name="out"></slot>
        </form>
        <v-card-actions>
          <v-btn
            color="primary"
            @click="overlay = false"
          >
            Cancelar
          </v-btn>

          <v-btn
            color="error"
            class="btn btn-danger"
            type="submit"
            form="logout-form"
          >
            Cerrar sesión
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-overlay>
  </v-app>
</template>

<script>
  import axios from "axios";

  export default {
    props: {
      source: String,
      csrf: {
        default: '',
      },
    },
    data: () => ({
      drawer: true,
      absolute: true,
      overlay: false,
      opacity: '',
      zIndex: 5,
      user: '',
    }),

    methods: {

      //Obtiene datos de BD
      async getUser () {
        let req = await axios.get('/user')
        
        this.user = req.data
      }
    },

    created (){
      this.getUser()
    }
  }
</script>