<template>
    <div class="container-fluid">
        <v-app id="inspire">
            <v-content>
                <v-container
                    fluid
                >
                  <v-alert
                    v-if="alert"
                    v-model="alert"
                    dismissible
                    :color="color_alert"
                    border="left"
                    elevation="2"
                    colored-border
                    type="info"
                  >
                    {{alert_title}}
                  </v-alert>
                  <v-flex mb-1 text-center>
                    <h3 class="display-2 font-weight-bold">
                        {{ title_window }}
                    </h3>
                  </v-flex>
                  <br>
                  <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="gen-tab" data-toggle="tab" href="#gen" role="tab" aria-controls="gen" aria-selected="true">General</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="date-tab" data-toggle="tab" href="#date" role="tab" aria-controls="date" aria-selected="false">Hora y Fecha</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="person-tab" data-toggle="tab" href="#person" role="tab" aria-controls="person" aria-selected="false">Solicitante</a>
                      </li>
                    </ul>
                  </div>
                  <v-form
                    id="new-form"
                    class="mx-auto form"
                    ref="form-search"
                    v-model="valid"
                  >
                  <div class="row tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mx-auto" id="gen" role="tabpanel" aria-labelledby="gen-tab">
                      <div class="container-fluid">
                        <div class="row my-2 mx-5">
                          <v-row>
                              <v-text-field
                                v-model="title_event"
                                :counter="40"
                                :rules="subjetRules"
                                name="asunto"
                                label="Título del evento"
                                class="form"
                                required
                              ></v-text-field>
                              <v-select
                                v-model="event_type"
                                :items="events"
                                :rules="[v => !!v || 'Campo requerido']"
                                label="Tipo de evento"
                                required
                                class="form"
                              ></v-select>

                              <v-select
                                v-model="sala_event"
                                :items="rooms"
                                :rules="[v => !!v || 'Campo requerido']"
                                label="Seleccione la sala"
                                required
                                class="form"
                              ></v-select>
                              
                              <v-textarea
                                v-model="desc_event"
                                name="description-e"
                                label="Descripción"
                                :rules="descRules"
                                :counter="100"
                                class="form"
                              ></v-textarea>
                          </v-row>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade mx-auto" id="date" role="tabpanel" aria-labelledby="date-tab">
                      <div class="container-fluid">
                        <div class="row my-2">
                          <v-row>
                            <v-col
                              cols="12"
                              md="4"
                            >

                              <v-dialog
                                ref="dialog_time_init"
                                v-model="modal_time_init"
                                :return-value.sync="time_init"
                                persistent
                                width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="time_init"
                                    label="Hora de inicio"
                                    prepend-icon="access_time"
                                    readonly
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-time-picker
                                  v-if="modal_time_init"
                                  v-model="time_init"
                                  full-width
                                >
                                  <v-spacer></v-spacer>
                                  <v-btn text color="primary" @click="modal_time_init = false">Cancelar</v-btn>
                                  <v-btn text color="primary" @click="$refs.dialog_time_init.save(time_init)">Listo</v-btn>
                                </v-time-picker>
                              </v-dialog>

                            </v-col>

                            <v-col
                              cols="12"
                              md="4"
                            >

                              <v-dialog
                                ref="dialog_time_end"
                                v-model="modal_time_end"
                                :return-value.sync="time_end"
                                persistent
                                width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="time_end"
                                    label="Hora final"
                                    prepend-icon="access_time"
                                    readonly
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-time-picker
                                  v-if="modal_time_end"
                                  v-model="time_end"
                                  full-width
                                >
                                  <v-spacer></v-spacer>
                                  <v-btn text color="primary" @click="modal_time_end = false">Cancelar</v-btn>
                                  <v-btn text color="primary" @click="$refs.dialog_time_end.save(time_end)">Listo</v-btn>
                                </v-time-picker>
                              </v-dialog>

                            </v-col>

                            <v-col
                              cols="12"
                              md="4"
                            >
                              <v-menu
                                ref="fecha_init"
                                v-model="fecha_init"
                                :close-on-content-click="false"
                                transition="scale-transition"
                                offset-y
                                max-width="290px"
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="dateFormatted_init"
                                    label="Fecha desde"
                                    hint="DD/MM/AAAA"
                                    persistent-hint
                                    prepend-icon="event"
                                    @blur="date_init = parseDate(dateFormatted_init)"
                                    v-on="on"
                                    required
                                  ></v-text-field>
                                </template>
                                <v-date-picker v-model="date_init" locale="es-ve" no-title @input="fecha_init = false"></v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-checkbox v-model="repetir" class="mx-2" label="Repetir semanalmente"></v-checkbox>
                          </v-row>
                          <div v-if="repetir">
                            <v-row>
                              <p>Seleccione el día(s) donde se realizará el evento:</p>
                            </v-row>
                            <v-row>
                              <v-checkbox v-model="day" class="mx-2" value="1" label="Lunes"></v-checkbox>
                              <v-checkbox v-model="day" class="mx-2" value="2" label="Martes"></v-checkbox>
                              <v-checkbox v-model="day" class="mx-2" value="3" label="Miércoles"></v-checkbox>
                              <v-checkbox v-model="day" class="mx-2" value="4" label="Jueves"></v-checkbox>
                              <v-checkbox v-model="day" class="mx-2" value="5" label="Viernes"></v-checkbox>
                              <v-checkbox v-model="day" class="mx-2" value="6" label="Sábado"></v-checkbox>
                              <v-checkbox v-model="day" class="mx-2" value="0" label="Domingo"></v-checkbox>
                            </v-row>
                            <v-row>
                                <v-menu
                                  ref="fecha_end"
                                  v-model="fecha_end"
                                  :close-on-content-click="false"
                                  transition="scale-transition"
                                  offset-y
                                  max-width="290px"
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="dateFormatted_end"
                                      label="Repetir hasta"
                                      hint="DD/MM/AAAA"
                                      persistent-hint
                                      prepend-icon="event"
                                      @blur="date_end = parseDate(dateFormatted_end)"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker v-model="date_end" locale="es-ve" no-title @input="fecha_end = false"></v-date-picker>
                                </v-menu>
                            </v-row>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade mx-auto" id="person" role="tabpanel" aria-labelledby="person-tab">
                      <div class="container-fluid">
                        <div class="row my-2">
                          <v-row>
                              <v-combobox
                                :items="arrayNames"
                                v-model="name"
                                :counter="40"
                                color="white"
                                item-text="name"
                                class="form"
                                label="Nombre completo"
                              ></v-combobox>
                              <v-col
                                cols="2"
                              >
                                <v-checkbox v-model="isTesis" class="mx-2" label="Tesis"></v-checkbox>
                              </v-col>
                              <v-col
                                cols="10"
                                v-if="isTesis"
                              >
                                <v-text-field
                                  v-model="tesista"
                                  name="tesista"
                                  label="Nombre del tesista"
                                  class="form"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-text-field
                                v-model="phone"
                                name="phone"
                                label="Teléfono"
                                class="form"
                                required
                              ></v-text-field>
                              <v-text-field
                                v-model="correo"
                                :rules="emailRules"
                                label="Correo electrónico"
                                required
                              ></v-text-field>
                              <v-select
                                v-model="tipo_usuario"
                                :items="user_type"
                                :rules="[v => !!v || 'Campo requerido']"
                                label="Tipo de usuario"
                                required
                                class="form"
                              ></v-select>
                              <v-select
                                v-model="ubicacion"
                                :items="ubicado"
                                :rules="[v => !!v || 'Campo requerido']"
                                label="Procedencia"
                                required
                                class="form"
                              ></v-select>

                          </v-row>
                        </div>
                      </div>
                    </div>
                  </div>
                  <v-btn
                    :disabled="!valid"
                    form="new-form"
                    color="success"
                    class="mr-4"
                    @click="saveData"
                  >
                    {{title_btn}}
                  </v-btn>
                  </v-form>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>


<style>
  .form{
    width: 700px;
  }
</style>


<script>
  import axios from "axios";

  export default {
    data: vm => ({
      isTesis: false,
      tesista: '',
      title_window: '',
      title_btn: '',
      id_edit: 0,
      valid: true,
      check_box: true,
      repetir: false,
      name: '',
      tipo_usuario: '',
      correo: '',
      sala: '',
      ubicacion: '',
      phone: '',
      fecha_init: false,
      fecha_end: false,
      modal_time_init: false,
      time_init: null,
      modal_time_end: false,
      time_end: null,
      foo: 0,
      row: null,
      title_event: '',
      desc_event: '',
      event_type: '',
      sala_event: '',
      alert: false,
      alert_title: '',
      color_alert: '',
      descRules: [
        v => !!v || 'Campo obligatorio',
        v => (v && v.length <= 100) || 'Este campo debe ser menor o igual a 100 caracteres',
      ],
      subjetRules: [
        v => !!v || 'Campo obligatorio',
        v => (v && v.length <= 40) || 'Este campo de tener máximo 40 caracteres',
      ],
      email: '',
      emailRules: [
        v => !!v || 'Campo obligatorio',
        v => /.+@.+\..+/.test(v) || 'Correo no válido',
      ],
      select: null,
      events: [],
      rooms: [],
      day: [],
      user_type: [
        'Profesor',
        'Estudiante',
        'Director',
        'Personal del Centro de Computación',
        'Personal externo',
      ],
      arrayNames: [],
      ubicado: [
        'Centro de Computación',
        'Coord. Academica',
        'Coord. Administrativa',
        'Coord. Extensión',
        'Coord. Investigación',
        'Coord. Postgrado',
        'Decanato',
	      'Esc. Biología',
        'Esc. Computación',
        'Esc. Física',
        'Esc. Matemática',
        'Esc. Química',
        'Inst. IBE',
        'Inst. ICTA',
        'Inst. ICT',
        'Inst. IZET',
        'Externo',
      ],
      date_init: new Date().toISOString().substr(0, 10),
      date_end: new Date().toISOString().substr(0, 10),
      dateFormatted_init: vm.formatDate(new Date().toISOString().substr(0, 10)),
      dateFormatted_end: vm.formatDate(new Date().toISOString().substr(0, 10)),
      fecha_inicial: new Date(),
      dia_inicial: 1,
    }),

    props: {
      mode: { //Creando variable de entorno
        type: String,
        default: "create",
      }
    },

    mounted () {
      if(this.mode.localeCompare('edit') == 0){
        let ruta = ''
        let arr_ruta = []

        this.title_window = 'Editar evento'
        this.title_btn = "Actualizar evento"
        ruta = window.location.pathname
        arr_ruta = ruta.split('/')
        this.id_edit = parseInt(arr_ruta[2], 10)
        this.getDataEdit(this.id_edit)
      }else{
        this.title_window = 'Añadir nuevo evento'
        this.title_btn = 'Crear evento'
      }
    },

    computed: {
      computedDateFormattedInit () {
        return this.formatDate(this.date_init)
      },
      computedDateFormattedEnd () {
        return this.formatDate(this.date_end)
      },
    },

    watch: {
      date_init () {
        this.dateFormatted_init = this.formatDate(this.date_init)
      },

      date_end () {
        this.dateFormatted_end = this.formatDate(this.date_end)
      },
    },

    methods: {

      /*customFilter (item, queryText, itemText) {
        const textOne = item.name.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1
      },*/

      async searchNames () {
        let req = await axios.get('/reserva/names')
        this.arrayNames = req.data
      },


      organizarDatos(datos){    //Mode Create
        datos.salas.forEach(element => {
          this.rooms.push(element.nombre)
        })

        datos.tipos.forEach(element => {
          this.events.push(element.type_name)
        })


      },

      organizarDatosEdit (datos) {  //Mode Edit
        this.title_event = datos.titulo
        this.event_type = datos.type_name
        this.sala_event = datos.nombre
        this.desc_event = datos.descripcion
        this.time_init = datos.hora_inicio
        this.time_end = datos.hora_fin
        this.date_init = datos.fecha
        this.date_end = datos.fecha_fin
        this.name = datos.name
        this.phone = datos.phone
        this.correo = datos.email
        this.tipo_usuario = datos.type
        this.ubicacion = datos.dir

        if(datos.dias){
          this.day = datos.dias.split(',')
        }

        if(datos.tesista){
          this.isTesis = true
          this.tesista = datos.tesista
        }
        
        if(datos.fecha.localeCompare(datos.fecha_fin) == 0){
          this.repetir = false
        }else{
          this.repetir = true
        }
      },

      async getData () {  //Mode Create
        let req = await axios.get('/reserva/create',{
          params: {
            'load': true,
          }
        })

        this.organizarDatos(req.data)
      },

      async getDataEdit (id) {  //Mode Edit
        let req = await axios.get('/reserva/'+ this.id_edit +'/edit',{
          params: {
            'load': true,
            'id': id
          }
        })

        this.organizarDatosEdit(req.data[0])
      },

      saveData () {

        let var_null = null
        let error = false

        if(!this.repetir){
          this.date_end = this.date_init
        }

        if(this.day.length <= 1){
          this.day = []
        }else{
          var_null = this.day
        }

        if(this.mode.localeCompare('create') == 0){
          
          axios.post('/reserva',{
            'title_event': this.title_event,
            'event_type' : this.event_type,
            'sala_event' : this.sala_event,
            'desc_event' : this.desc_event,
            'time_init' : this.time_init,
            'time_end' : this.time_end,
            'date_init' : this.date_init,
            'day' : var_null,
            'repetir' : this.repetir,
            'date_end' : this.date_end,
            'name' : this.name,
            'phone' : this.phone,
            'correo' : this.correo,
            'tipo_usuario' : this.tipo_usuario,
            'ubicacion' : this.ubicacion,
            'tesista' : this.tesista,
            'isTesis' : this.isTesis
          }).then(response => {
            if(response.data === 'OK'){
              this.alert_title = 'Evento añadido correctamente'
              this.color_alert = 'success'
              this.alert = true
              error = false
            }else if(response.data === 'Sala'){
              this.alert_title = 'La sala seleccionada en este horario estará ocupada'
              this.color_alert = 'error'
              this.alert = true
              error = true
            }else{
              this.alert_title = 'Error al añadir nuevo evento'
              this.color_alert = 'error'
              this.alert = true
              error = true
            }

          }).catch(e => {
            console.log(e)
            this.alert_title = 'Error al añadir nuevo evento'
            this.color_alert = 'error'
            this.alert = true
            error = true
          })

          if(!error){
            this.title_event = ''
            this.event_type = ''
            this.sala_event = ''
            this.desc_event = ''
            this.time_init = ''
            this.time_end = ''
            this.date_init = ''
            this.day = []
            this.repetir = ''
            this.date_end = ''
            this.name = ''
            this.isTesis = false
            this.tesista = ''
            this.phone = ''
            this.correo = ''
            this.tipo_usuario = ''
            this.ubicacion = ''
          }


        }else{

          axios.put('/reserva/'+this.id_edit,{
            _method: 'patch',
            'id': this.id_edit,
            'title_event': this.title_event,
            'event_type' : this.event_type,
            'sala_event' : this.sala_event,
            'desc_event' : this.desc_event,
            'time_init' : this.time_init,
            'time_end' : this.time_end,
            'date_init' : this.date_init,
            'day' : var_null,
            'repetir' : this.repetir,
            'date_end' : this.date_end,
            'name' : this.name,
            'phone' : this.phone,
            'correo' : this.correo,
            'tipo_usuario' : this.tipo_usuario,
            'ubicacion' : this.ubicacion,
            'tesista' : this.tesista,
            'isTesis' : this.isTesis
          }).then(response => {
            //console.log(response.data)
            if(response.data === 'OK'){
              this.alert_title = 'Evento actualizado correctamente'
              this.color_alert = 'success'
              this.alert = true
            }else if(response.data === 'Sala'){
              this.alert_title = 'La sala seleccionada en este horario estará ocupada'
              this.color_alert = 'error'
              this.alert = true
            }else{
              this.alert_title = 'Error al editar el evento'
              this.color_alert = 'error'
              this.alert = true
            }

          }).catch(e => {
            console.log(e)
            this.alert_title = 'Error al editar el evento'
            this.color_alert = 'error'
            this.alert = true
          })

        }

      },

      //--------------FORMS--------------

      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [day, month, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
    },


    created (){

        this.getData(this.id_edit)
        this.searchNames()

    },

  }
 
</script>