<template>
    <div class="container-fluid">
        <v-app id="inspire">
            <v-content>
                <v-container
                    fluid
                >
                  <v-alert
                    v-if="alert_cancel"
                    v-model="alert_cancel"
                    dismissible
                    :color="color_alert_cancel"
                    border="left"
                    elevation="2"
                    colored-border
                    type="info"
                  >
                    {{alert_title_cancel}}
                  </v-alert>

                  <v-flex mb-1 text-center>
                    <v-alert
                      v-if="alert"
                      v-model="alert"
                      dismissible
                      color="error"
                      border="left"
                      elevation="2"
                      colored-border
                      type="info"
                    >
                      No se han encontrado resultados de la búsqueda.
                    </v-alert>
                    <h3 class="display-2 font-weight-bold">
                        Busqueda de eventos
                    </h3>
                  </v-flex>
                  <div class="row" v-if="!search">
                    <v-form
                      class="mx-auto"
                      ref="form-search"
                      v-model="valid"
                      :lazy-validation="lazy"
                    >
                      <v-text-field
                        v-model="titulo"
                        :counter="40"
                        :rules="titleRules"
                        name="titulo"
                        label="Título del evento"
                      ></v-text-field>

                      <v-text-field
                        v-model="encargado"
                        :counter="40"
                        :rules="titleRules"
                        name="encargado"
                        label="Nombre del encargado"
                      ></v-text-field>

                      <v-select
                        v-model="reserva"
                        :items="events"
                        label="Tipo de evento"
                      ></v-select>

                      <v-select
                        v-model="sala"
                        :items="rooms"
                        label="Seleccione la sala"
                      ></v-select>

                      <v-select
                        v-model="tipo_usuario"
                        :items="user_type"
                        label="Tipo de usuario"
                        required
                        class="form"
                      ></v-select>

                      <v-select
                        v-model="ubicacion"
                        :items="ubicado"
                        label="Procedencia"
                        required
                        class="form"
                      ></v-select>

                      <v-checkbox
                        v-model="checkbox"
                        label="Filtrar por fecha"
                        required
                      ></v-checkbox>
                      
                      <v-row class="px-12">
                        <v-col
                          cols="12"
                          md="12"
                        >
                          <v-menu
                            ref="menu1"
                            v-model="menu1"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="dateRangeText"
                                label="Fecha"
                                hint="Desde ~ Hasta"
                                persistent-hint
                                prepend-icon="event"
                                v-on="on"
                                readonly
                                :disabled="!checkbox"
                                required
                              ></v-text-field>
                            </template>
                            <v-date-picker locale="es-ve" v-model="dates" range></v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>

                      <br>
                      <v-btn
                        :disabled="!valid"
                        color="success"
                        class="mr-4"
                        @click="buscar"
                      >
                        Buscar
                      </v-btn>
                    </v-form>
                  </div>
                  <div v-else>
                    <v-row
                    align="center"
                    justify="center"
                    >
                      <v-col
                          cols="12"
                          sm="8"
                          md="12"
                      >
                        <v-data-table
                          v.model="selected"
                          :headers="headers"
                          :items="reservas"
                          @click:row="handleClick"
                          class="elevation-1"
                          locale="es-ve"
                          hide-default-footer
                          dark
                        >
                        </v-data-table>
                        <v-dialog v-model="dialog" scrollable max-width="400px">
                          <v-card>
                            <v-toolbar v-if="useToolbar" card dense>
                              <v-toolbar-title v-text="this.reserva_cancelar.titulo"></v-toolbar-title>
                            </v-toolbar>
                            <v-card-title v-else v-text="this.reserva_cancelar.titulo"></v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                              <v-list-item>
                              <v-list-item-content>
                                <span v-html="'<b>Tipo de Evento:</b> ' + this.reserva_cancelar.tipo_evento + '.'"></span>
                                <br>
                                <div v-if="this.reserva_cancelar.isTesis">
                                  <span  v-html="'<b>Nombre del tesista:</b> ' + this.reserva_cancelar.tesista + '.'"></span>
                                  <br>
                                </div>
                                <span v-html="'<b>Descripción:</b><br>' + this.reserva_cancelar.descripcion + '.'"></span>
                                <br>
                                <span v-if="this.reserva_cancelar.repetir" v-html="'<b>Se repite los:</b><br>' + this.reserva_cancelar.dias_semana + '.'"></span>
                                <br>
                                <span v-html="'<b>Horario:</b> ' + this.reserva_cancelar.hora_inicio + ' - ' + this.reserva_cancelar.hora_fin"></span>
                                <hr>
                                <span v-html="'<b>Sala:</b> ' + this.reserva_cancelar.nombre_sala + '.'"></span>
                                <br>
                                <span v-html="'<b>Ubicación:</b> ' + this.reserva_cancelar.ubicacion_sala + '.'"></span>
                                <br>
                                <span v-html="'<b>Capacidad de la sala:</b> ' + this.reserva_cancelar.capacidad_sala + ' personas.'"></span>
                                <hr>
                                <span v-html="'<b>Encargado:</b> ' + this.reserva_cancelar.encargado + '.'"></span>
                                <br>
                                <span v-html="'<b>Teléfono:</b> ' + this.reserva_cancelar.phone + '.'"></span>
                                <br>
                                <span v-html="'<b>Correo:</b> ' + this.reserva_cancelar.email + '.'"></span>
                                <br>
                                <span v-html="'<b>Usuario:</b> ' + this.reserva_cancelar.tipo_user + '.'"></span>
                                <br>
                                <span v-html="'<b>Ubicación:</b> ' + this.reserva_cancelar.ubicacion_user + '.'"></span>
                                </v-list-item-content>
                              </v-list-item>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                        
                              <v-btn
                                color="primary"
                                flat
                                @click.native="dialog = false"
                                @click="reserva_cancelar = {}"
                              >
                                Cerrar
                              </v-btn>

                              <v-btn
                                color="error"
                                class="btn btn-danger"
                                flat
                                @click.native="dialog = false"
                                @click="cerrar_evento = true"
                              >
                                Cancelar evento
                              </v-btn>

                              <v-btn
                                color="success"
                                class="btn btn-success"
                                :href="'/reserva/' + this.reserva_cancelar.id + '/edit'"
                              >
                                Editar
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                        <v-dialog v-model="cerrar_evento" max-width="550px">
                          <v-card>
                            <v-toolbar v-if="useToolbar" card dense>
                              <v-toolbar-title v-text="'Evento: ' + this.reserva_cancelar.titulo"></v-toolbar-title>
                            </v-toolbar>
                            <v-card-title v-else v-text="'Evento: ' + this.reserva_cancelar.titulo"></v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                              <v-list-item>
                                <v-list-item-content>
                                  <v-list-item-title>Confirme si quiere cancelar este evento</v-list-item-title>
                                  <v-spacer></v-spacer>
                                  <v-list-item-title v-if="this.reserva_cancelar.repetir" class="text-danger"><v-icon color="yellow" left>warning</v-icon>¡Cuidado! Este evento se repite durante un periodo</v-list-item-title>
                                  <v-list-item-subtitle v-if="this.reserva_cancelar.repetir">Si cancela este evento, se cancelarán los eventos asociados.</v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                        
                              <v-btn
                                color="primary"
                                flat
                                @click.native="cerrar_evento = false"
                                @click="reserva_cancelar = {}"
                              >
                                Cerrar
                              </v-btn>

                              <v-btn
                                color="error"
                                class="btn btn-danger"
                                @click="cancelarEvento()"
                              >
                                Cancelar evento
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </v-col>
                    </v-row>
                  </div>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>


<script>
  import axios from "axios";
  import moment from 'moment'

  export default {
    data: () => ({
      user_type: [
        'Profesor',
        'Estudiante',
        'Director',
        'Personal del Centro de Computación',
        'Personal externo',
      ],
      tipo_usuario: '',
      ubicacion: '',
      ubicado: [
        'Centro de Computación',
        'Coord. Academica',
        'Coord. Administrativa',
        'Coord. Extensión',
        'Coord. Investigación',
        'Coord. Postgrado',
        'Decanato',
	      'Esc. Biología',
        'Esc. Computación',
        'Esc. Física',
        'Esc. Matemática',
        'Esc. Química',
        'Inst. IBE',
        'Inst. ICTA',
        'Inst. ICT',
        'Inst. IZET',
        'Externo',
      ],
      alert_title_cancel: '',
      alert_cancel: false,
      color_alert_cancel: '',
      alert: false,
      checkbox: false,
      valid: false,
      search: false,
      titulo: '',
      encargado: '',
      lazy: '',
      dates: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
      menu1: false,
      menu2: false,
      titleRules: [
        v => (v.length <= 40) || 'Este campo debe tener máximo 40 caracteres',
      ],
      reserva_cancelar: {},
      reserva: '',
      sala: '',
      events: [],
      rooms: [],
      results: {},
      dialogm1: '',
      dialog: false,
      useToolbar: false,
      cerrar_evento: false,

      //-----------Dates Table
      headers: [
          { text: 'Título', value: 'titulo', align: 'center', sortable: false },
          { text: 'Encargado', value: 'name', align: 'center', sortable: false },
          { text: 'Sala', value: 'nombre', align: 'center', sortable: false },
          { text: 'Descripción', value: 'descripcion', align: 'center', sortable: false },
          { text: 'Fecha Inicio', value: 'fecha', align: 'center', sortable: false },
          { text: 'Fecha Final', value: 'fecha_fin', align: 'center', sortable: false },
          { text: 'Hora Inicio', value: 'hora_inicio', align: 'center', sortable: false },
          { text: 'Hora Fin', value: 'hora_fin', align: 'center', sortable: false },
        ],
        reservas: [],
        select: true,
        selected: [],
        id: null,
        title: '',
        absolute: true,
        overlay: false,
        opacity: 1,
        zIndex: 5,
    }),

    computed: {
      dateRangeText () {
        if(this.dates[0] > this.dates[1]){
          var date = this.dates[0]
          this.dates[0] = this.dates[1]
          this.dates[1] = date
        }

        return this.dates.join(' ~ ')
      },
    },

    methods: {

      handleClick(value) {
        this.dialog = !this.dialog
        let tesis = false

        this.reserva_cancelar = {
          'id': value.id_reserva,
          'titulo': value.titulo,
          'tipo_evento': value.type_name,
          'descripcion': value.descripcion,
          'hora_inicio': value.hora_inicio,
          'hora_fin': value.hora_fin,
          'nombre_sala': value.nombre,
          'capacidad_sala': value.capacidad,
          'ubicacion_sala': value.direccion,
          'encargado': value.name,
          'phone': value.phone,
          'email': value.email,
          'tipo_user': value.type,
          'ubicacion_user': value.dir,
          'repetir': value.repetir,
          'tesista': value.tesista,
        }
        //console.log(value)
        if(value.dias){
          value.dias = value.dias.split(',')
          let day = 0
          let days = []

          value.dias.forEach(dia => {

            switch (dia) {
              case '0':
                days.push(' Domingo')
                break;
            
              case '1':
                  days.push(' Lunes')
                  break;
              
              case '2':
                  days.push(' Martes')
                  break;
              
              case '3':
                  days.push(' Miércoles')
                  break;
              
              case '4':
                  days.push(' Jueves')
                  break;
              
              case '5':
                  days.push(' Viernes')
                  break;
              
              case '6':
                  days.push(' Sábado')
                  break;

              default:
                break;
            }
          })
          this.reserva_cancelar.dias_semana = days
          //console.log(this.reserva_cancelar.dias_semana)
        }else{
          this.reserva_cancelar.dias_semana = ''
        }

        if(value.tesista){
          this.reserva_cancelar.isTesis = true
        }else{
          this.reserva_cancelar.isTesis = false
        }

      },

      cancelarEvento () {
        let titulo_alert = this.reserva_cancelar.titulo
        //console.log(titulo_alert)

        axios.delete('/reserva/'+this.reserva_cancelar.id,{
          params: {
            'id': this.reserva_cancelar.id
          }
        }).then(response => {
          
          if(response.data.localeCompare('OK') == 0){
            this.alert_title_cancel = 'Evento "'+ titulo_alert +'" cancelado'
            this.color_alert_cancel = 'success'
            this.alert_cancel = true
          }else{
            this.alert_title_cancel = 'Error al cancelar el evento "'+ titulo_alert + '"'
            this.color_alert_cancel = 'error'
            this.alert_cancel = true
          }
        }).catch(e => {
          console.log(e)
          this.alert_title_cancel = 'Error al cancelar el evento "'+ titulo_alert + '"'
          this.color_alert_cancel = 'error'
          this.alert_cancel = true
        })

        this.reserva_cancelar = {}
        this.cerrar_evento = false
        this.buscar()
      },



      buscar(){

        if(this.dates.length == 1){
          this.dates.push(this.dates[0])
        }

        if(!this.checkbox){
          this.dates = []
        }

        axios.get('/buscar/result',{
          params: {
            fecha: this.dates,
            titulo: this.titulo,
            tipo: this.reserva,
            sala: this.sala,
            encargado: this.encargado,
            tipo_usuario: this.tipo_usuario,
            dir_user: this.ubicacion,
          }
        }).then(response => {
          if(response.data.length == 0){
            this.alert = true
          }else{
            this.reservas = response.data
            this.formtTimeUpdate()
            this.formatDateUpdate()
            this.verificarDias()
            this.search = true
          }
        }).catch(e => {
          console.log(e)
        })
      },

      verificarDias () {
        this.reservas.forEach(element => {
          if(element.tesista){
            element.isTesis = true
          }else{
            element.isTesis = false
          }

          if(element.dias){
            element.repetir = true
          }else{
            element.repetir = false
          }
        })
      },

      organizarDatos(datos){
        datos.salas.forEach(element => {
          this.rooms.push(element.nombre)
        })

        datos.tipos.forEach(element => {
          this.events.push(element.type_name)
        })
      },

      async getData () {
        let req = await axios.get('/buscar',{
          params: {
            'load': true,
          }
        })

        let data = req.data

        this.organizarDatos(data)
      },

      formtTimeUpdate (){
        this.reservas.forEach(element => {
          element.hora_inicio = this.timeFormat(element.hora_inicio)
          element.hora_fin = this.timeFormat(element.hora_fin)          
        })
      },

      formatDateUpdate () {
        this.reservas.forEach(element => {
          element.fecha = this.dateFormat(element.fecha)
          element.fecha_fin = this.dateFormat(element.fecha_fin)
        })
      },

      dateFormat: function(date) {
        return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
      },

      timeFormat: function(time) {
        return moment(time, 'HH:mm:ss').format('h:mm A');
      },

    },

    created (){
      this.getData()
    },
  }
</script>